body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: hsl(145, 55%, 65%);
    text-align: center;
    border: 2px solid black;
    padding: 10px;
}

h2 {
    text-align: center;
    background-color: hsl(145, 100%, 18%);
    padding: 10px;
    border: 2px solid black;
}

pre {
    text-align: center;
    color: hsl(145, 39%, 79%);
}

strong {
    font-weight: bold;
}

blockquote {
    color: hsl(145, 100%, 18%);
}
